html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	
}
main {
	margin: 0 20px;
}
nav {
	background-color:none;
	text-align:end;
	position:absolute; 
	top: 0;
	right: 0;
	left: 0;
	
	
}

nav a {
	text-decoration:none;
	display:inline-block;
	padding: 10px 20px;
	background-color:none;
	color: white;
	font-size: 20px;
	font-weight: normal;
	font-family:sans-serif;
	
}
nav a:hover {
	background-color: lightgrey;
	color: white;	
}
h2 {
	padding-top: 30px;
	font-weight: bold;
	font-family:sans-serif;
	color:grey;
}
header {
	background-image: url(IMG-Chewie-dark.JPG);
	background-size: 100%;
	height: 500px;
	position: bottom center;
	background-repeat: no-repeat;
	
	
}
section {
	padding-top: 30px;
	font-family:sans-serif;
	color:grey;
	
	
}
form {
	font-family: Helvetica;
}
label {
	display: inline-block;
	width: 120px;
	
}
label[for="news"] {
	width: auto;	
}
input[type="text"], input[type="email"] {
	width: 200px;
	padding: 5px;
	border: none;
	border-bottom: 1px solid #999;
}
textarea {
	width: 300px;
	height: 150px;
	padding: 7px;
	vertical-align: top;
}
select {
	width: 200px;
	padding: 5px;	
}
input[type="submit"]{
	padding: 5px 20px;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
}
:focus {
	outline: none;
}
input:focus, textarea:focus{
	background: #eee;
}
